<div class="m-15 bg-transparent p-8 rounded-xl md:w-[50%] w-[85%] mx-auto h-screen">
    <img class="mx-auto" src="../../assets/images/SA-logos_transparent.png" width="200px" alt="">
    <div class="mb-10 flex">
        <p class="text-gray-300 text-base">Esta página esta hecha en Angular usando estilos de TailwindCSS y por su
            puesto el uso de Apis. Aún faltan varios detalles por terminar, pero espero que al menos puedas escuchar tu
            canción favorita. 👻
        </p>
    </div>
    <div class=" mb-10">
        <p class="text-gray-300 text-base">This page is made in Angular using TailwindCSS styles and of course the use
            of Apis. There are still several details to finish, but I hope you can at least listen to your favorite
            song. 👻</p>
    </div>

    <p class="text-gray-300 text-sm text-end mr-8">@2023 Saul Alamilla</p>
</div>